<ul>
    <% moveList.forEach(move => { %>
    <% if (move.pokemon_id == id){  %>
    <li>Name: <%=move.pokemon_name%></li>
    <li>Form: <%=move.form%></li>
    <li>Charge Moves: <%=move.charged_moves%></li>
    <li>Fast Moves: <%=move.fast_moves%></li>
    <li>Elite Fast Moves: <%= move.elite_fast_moves %></li>
    <li>Elite Charged Moves: <%= move.elite_charged_moves %></li>
    <li><br></li>
    <% } %>
    <% }); %>
    <% candyList.forEach(candyTier => { %>
        <% candyTier.forEach(pokemon => { %>
            <% if (pokemon.pokemon_id == id) { %>
                <li>Form: <%=pokemon.form%></li>
                <li>Candies to Evolve: <%=pokemon.candy_required%></li>
            <% } %>
        <% }) %>
    <% }) %>
</ul>
