<ul id="statsPage">
  <% stats.forEach(pokemon => { %> <% if (pokemon.pokemon_id == id) { %>
  <li id="details">Name: <%=pokemon.pokemon_name%></li>
  <li id="details">Form: <%=pokemon.form%></li>
  <li id="details">Attack: <%=pokemon.base_attack%></li>
  <li id="details">Defense: <%=pokemon.base_defense %></li>
  <li id="details">Stamina: <%=pokemon.base_stamina %></li>
  <li><br /></li>
  <% } %> <% }); %>
</ul>
