<ul>
    <% stats.forEach(pokemon => { %>
        <% if (pokemon.pokemon_id == id) { %>
            <li>Name: <%=pokemon.pokemon_name%></li>
            <li>Form: <%=pokemon.form%></li>
            <li>Attack: <%=pokemon.base_attack%></li>
            <li>Defense: <%=pokemon.base_defense %></li>
            <li>Stamina: <%=pokemon.base_stamina %></li>
        <% } %>
        <li><br></li>
    <% }); %>

</ul>